---
layout: default
---

<div class="posts">
  {% assign posts = site.posts %}
  {% if paginator %}
    {% assign posts = paginator.posts %}
  {% endif %}
  {% for post in posts %}
    <div class="post">
      <h2 class="post-title">
        <a href="{{ post.url | relative_url }}">
          {{ post.title }}
        </a>
      </h2>


      <div class="post-meta">
        <time datetime="{{ post.date | date_to_xmlschema }}" >{{ post.date | date_to_string }}</time>
        
        <!--category-->
        {% if post.categories.size > 0 %}
        <span> • </span>
        <span class="post-categories-section">
          <i class="post-categories-icon fas fa-folder"></i>
          <ul class="post-categories">
            {%- for category in post.categories -%}
              <li>
                {% assign slugified_category = category | slugify %}
                {%- if site.categories_path -%}
                  <a class="post-category" href="{{ site.categories_path | relative_url }}#{{ slugified_category }}">{{ category }}</a>
                {%- else -%}
                  <span class="post-category">{{ category }}</span>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </span>
        {% endif %}
        <!--tag-->
        {% if post.tags.size > 0 %}
        <span> • </span>
        <span class="post-tags-section">
          <i class="post-tags-icon fas fa-tag"></i>
          <ul class="post-tags">
            {%- for tag in post.tags -%}
              <li>
                {% assign slugified_tag = tag | slugify %}
                {%- if site.tags_path -%}
                  <a class="post-tag" href="{{ site.tags_path | relative_url }}#{{ slugified_tag }}">{{ slugified_tag }}</a>
                {%- else -%}
                  <span class="post-tag">{{ slugified_tag }}</span>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </span>
        {% endif %}
      </div>
      
      
      <p class="post-excerpt">
        <div class="excerpt-content">
          {%- assign post_image = post.excerpt_image | default: '/assets/images/default-image.jpeg' -%}
          {%- if post_image and post_image != 'NO_EXCERPT_IMAGE' -%}
            <div class="post-image-container" >
                <a class="post-image" href="{{ post.url | relative_url }}">
                    <img src="{{ post_image | relative_url }}" alt="{{ post.title }}" style="text-align: center;" >
                </a>
            </div>
            {%- endif -%}
    
            <div class="post-text-container">
                {% if post.description %}
                  {{ post.description | strip_html }}
                {% else %}
                  {{ post.excerpt | strip_html }}
                {% endif %}
            </div>
        </div>
      </p>
  
    </div>
  {% endfor %}
</div>

{% assign last_page_minus_one = paginator.total_pages | minus: 1 %}
{% assign last_page_minus_two = paginator.total_pages | minus: 2 %}
{% assign page_minus_two = paginator.page | minus: 2 %}
{% assign page_plus_two = paginator.page | plus: 2 %}
{% assign page_minus_three = paginator.page | minus: 3 %}
{% assign page_plus_three = paginator.page | plus: 3 %}

{% if paginator %}
  <div class="pagination">

    {% if paginator.previous_page %}
      <a class="pagination-item newer" href="{{ paginator.base_path }}/"> << </a>
    {% else %}
      <span class="pagination-item older"> << </span> 
    {% endif %}

    {% if paginator.page == 1 %}
        <div class="pagination-item-center">
          <strong> {{ paginator.page }} </strong> &nbsp;
          <small><a href="{{ paginator.next_page_path | relative_url }}"> {{ paginator.page | plus: 1 }} </a> </small> &nbsp;
          <small><a href="{{ paginator.base_path }}/page/{{ page_plus_two }}"> {{ page_plus_two }} </a> </small> &nbsp;
          <span> <a href="{{ paginator.base_path }}/page/{{ page_plus_three }}"> ... </a></span>
        </div>

      {% elsif paginator.page == 2 %}
        <div class="pagination-item-center">
          <small><a href="{{ paginator.previous_page_path | relative_url }}"> {{ paginator.page | minus: 1 }} </a> </small> &nbsp;
          <strong> {{ paginator.page }} </strong> &nbsp;
          <small><a href="{{ paginator.next_page_path | relative_url }}"> {{ paginator.page | plus: 1 }} </a> </small> &nbsp;
          <small><a href="{{ paginator.base_path }}/page/{{ page_plus_two }}"> {{ page_plus_two }} </a> </small> &nbsp;
          <span> <a href="{{ paginator.base_path }}/page/{{ page_plus_three }}"> ... </a></span>
        </div>

        {% elsif paginator.page == 3 %}
        <div class="pagination-item-center">
          {% if page_minus_two == 1 %}
            <small><span> <a href="{{ paginator.base_path }}/"> {{ page_minus_two }} </a></span></small> &nbsp;
          {% else %}
            <span> <a href="{{ paginator.base_path }}/page/{{ page_minus_two }}"> ... </a></span> &nbsp;
          {% endif %}
          <small><a href="{{ paginator.previous_page_path | relative_url }}"> {{ paginator.page | minus: 1 }} </a> </small> &nbsp;
          <strong> {{ paginator.page }} </strong> &nbsp;
          <small><a href="{{ paginator.next_page_path | relative_url }}"> {{ paginator.page | plus: 1 }} </a> </small> &nbsp;
          <small><a href="{{ paginator.base_path }}/page/{{ page_plus_two }}"> {{ page_plus_two }} </a> </small> &nbsp;
          <span> <a href="{{ paginator.base_path }}/page/{{ page_plus_three }}"> ... </a></span>
        </div>

      {% elsif paginator.page > 2 and paginator.page < last_page_minus_two %}
        <div class="pagination-item-center">
          {% if page_minus_three == 1 %}
            <span> <a href="{{ paginator.base_path }}/"> ... </a></span> &nbsp;
          {% else %}
            <span> <a href="{{ paginator.base_path }}/page/{{ page_minus_three }}"> ... </a></span> &nbsp;
          {% endif %}
          <small><a href="{{ paginator.base_path }}/page/{{ page_minus_two }}"> {{ page_minus_two }} </a> </small> &nbsp;
          <small><a href="{{ paginator.previous_page_path | relative_url }}"> {{ paginator.page | minus: 1 }} </a> </small> &nbsp;
          <strong> {{ paginator.page }} </strong> &nbsp;
          <small><a href="{{ paginator.next_page_path | relative_url }}"> {{ paginator.page | plus: 1 }} </a> </small> &nbsp;
          <small><a href="{{ paginator.base_path }}/page/{{ page_plus_two }}"> {{ page_plus_two }} </a> </small> &nbsp;
          <span> <a href="{{ paginator.base_path }}/page/{{ page_plus_three }}"> ... </a></span>
        </div>

      {% elsif paginator.page < last_page_minus_one %}
        <div class="pagination-item-center">
          <span> <a href="{{ paginator.base_path }}/page/{{ page_minus_three }}"> ... </a></span> &nbsp;
          <small><a href="{{ paginator.base_path }}/page/{{ page_minus_two }}"> {{ page_minus_two }} </a> </small> &nbsp;
          <small><a href="{{ paginator.previous_page_path | relative_url }}"> {{ paginator.page | minus: 1 }} </a> </small> &nbsp;
          <strong> {{ paginator.page }} </strong> &nbsp;
          <small><a href="{{ paginator.next_page_path | relative_url }}"> {{ paginator.page | plus: 1 }} </a> </small> &nbsp;
          <small><a href="{{ paginator.base_path }}/page/{{ page_plus_two }}"> {{ page_plus_two }} </a> </small>
        </div>

      {% elsif paginator.page < paginator.total_pages %}
        <div class="pagination-item-center">
          <span> <a href="{{ paginator.base_path }}/page/{{ page_minus_three }}"> ... </a></span> &nbsp;
          <small><a href="{{ paginator.base_path }}/page/{{ page_minus_two }}"> {{ page_minus_two }} </a> </small> &nbsp;
          <small><a href="{{ paginator.previous_page_path | relative_url }}"> {{ paginator.page | minus: 1 }} </a> </small> &nbsp;
          <strong> {{ paginator.page }} </strong> &nbsp;
          <small><a href="{{ paginator.next_page_path | relative_url }}"> {{ paginator.page | plus: 1 }} </a> </small>
        </div>

      {% else %}
        <div class="pagination-item-center">
          <span> <a href="{{ paginator.base_path }}/page/{{ page_minus_three }}"> ... </a></span> &nbsp;
          <small><a href="{{ paginator.base_path }}/page/{{ page_minus_two }}"> {{ page_minus_two }} </a> </small> &nbsp;
          <small><a href="{{ paginator.previous_page_path | relative_url }}"> {{ paginator.page | minus: 1 }} </a> </small> &nbsp;
          <strong> {{ paginator.page }} </strong>
        </div>
    {% endif %}

    {% if paginator.next_page %}
      <a class="pagination-item newer" href="{{ paginator.base_path }}/page/{{ paginator.total_pages }}">>></a>
    {% else %}
      <span class="pagination-item older"> >> </span> 
    {% endif %}

  </div>
{% endif %}