---
layout: default
---

<div class="posts">
  {% assign posts = site.posts %}
  {% if paginator %}
    {% assign posts = paginator.posts %}
  {% endif %}
  {% for post in posts %}
    <div class="post">
      <h2 class="post-title">
        <a href="{{ post.url | relative_url }}">
          {{ post.title }}
        </a>
      </h2>


      <div class="post-meta">
        <time datetime="{{ post.date | date_to_xmlschema }}" >{{ post.date | date_to_string }}</time>
        
        <!--category-->
        {% if post.categories.size > 0 %}
        <span> • </span>
        <span class="post-categories-section">
          <i class="post-categories-icon fas fa-folder"></i>
          <ul class="post-categories">
            {%- for category in post.categories -%}
              <li>
                {% assign slugified_category = category | slugify %}
                {%- if site.categories_path -%}
                  <a class="post-category" href="{{ site.categories_path | relative_url }}#{{ slugified_category }}">{{ category }}</a>
                {%- else -%}
                  <span class="post-category">{{ category }}</span>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </span>
        {% endif %}
        <!--tag-->
        {% if post.tags.size > 0 %}
        <span> • </span>
        <span class="post-tags-section">
          <i class="post-tags-icon fas fa-tag"></i>
          <ul class="post-tags">
            {%- for tag in post.tags -%}
              <li>
                {% assign slugified_tag = tag | slugify %}
                {%- if site.tags_path -%}
                  <a class="post-tag" href="{{ site.tags_path | relative_url }}#{{ slugified_tag }}">{{ slugified_tag }}</a>
                {%- else -%}
                  <span class="post-tag">{{ slugified_tag }}</span>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </span>
        {% endif %}
      </div>
      
      
      <p class="post-excerpt">
        {% if post.description %}
          {{ post.description | strip_html }}
        {% else %}
          {{ post.excerpt | strip_html }}
        {% endif %}
      </p>
    </div>
  {% endfor %}
</div>

{% if paginator %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | relative_url }}"> Previous </a> <!-- 보여주는 페이지 버튼 -->
    {% else %}
      <span class="pagination-item newer">Previous</span> <!-- 페이지 버튼 활성화시에 -->
    {% endif %}

    {% if paginator.page %} <!-- 버튼 중간에 현재 페이지 번호 추가-->
      <span class="pagination-item newer"> {{ paginator.page }} </span>
    {% endif %}

    {% if paginator.next_page %}
      <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}"> Next </a>
    {% else %}
      <span class="pagination-item older">Next</span>
    {% endif %}
  </div>
{% endif %}
