---
layout: default
---

<div class="posts">
  {% assign posts = site.posts %}
  {% if paginator %}
    {% assign posts = paginator.posts %}
  {% endif %}
  {% for post in posts %}
    <div class="post">
      <h2 class="post-title">
        <a href="{{ post.url | relative_url }}">
          {{ post.title }}
        </a>
      </h2>

      <time datetime="{{ post.date | date_to_xmlschema }}" class="post-meta">{{ post.date | date_to_string }}</time>

      <p class="post-excerpt">
        {% if post.description %}
          {{ post.description | strip_html }}
        {% else %}
          {{ post.excerpt | strip_html }}
        {% endif %}
      </p>
    </div>
  {% endfor %}
</div>

{% if paginator %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | relative_url }}"> Previous </a> <!-- 보여주는 페이지 버튼 -->
    {% else %}
      <span class="pagination-item newer">Previous</span> <!-- 페이지 버튼 활성화시에 -->
    {% endif %}

    {% if paginator.page %} <!-- 버튼 중간에 현재 페이지 번호 추가-->
      <span class="pagination-item newer"> {{ paginator.page }} </span>
    {% endif %}

    {% if paginator.next_page %}
      <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}"> Next </a>
    {% else %}
      <span class="pagination-item older">Next</span>
    {% endif %}
  </div>
{% endif %}
